body{
    background-color: rgb(32, 32, 32);
    color:rgb(255, 255, 255);
}

.hais{
    margin: 30px;
}
.hais, .hais_machi{
    display: flex;
    justify-content: center;
}

.result_views{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgb(32, 32, 32);
    z-index: 5;

    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.result_view{
    margin-right: 100px;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader_icon {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}
.loader_text{
    padding: 5px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#f3f3f3;
    background-color:#2c2c2ce7;
    user-select: none;
}

.tehai_input{
    margin: 0 auto;
}
.tehai_row{
    display: flex;
    justify-content: center;
}
.tehai_cell{
    margin: 2px;
}
.hai_image{
    width: 66px;
    height: 90px;
}
.hai_image.rotate90{
    transform: rotate(90deg) translateY(13%);
}

.naki_btn_list{
    display: flex;
    justify-content: center;
}
.naki_btn, .reset_btn, .close_btn{
    text-align: center;
    padding: 10px 50px;
    margin: 10px;
    opacity: 0.9;
    border: 1px solid #131313;
    user-select: none;
    cursor: pointer;
    transition:
      transform .2s ease,
      opacity .5s ease;
}
.naki_btn.active{
    border-color: #e6e6e6;
    transform: scale(1.05);
}
.naki_btn.disable{
    background-color: #8a8a8a;
}
.naki_btn:hover, .reset_btn:hover, .close_btn:hover{
    opacity: 0.7;
}
.naki_btn.disable:hover{
    opacity: 0.9;
}
.naki_btn_chi{
    background-color: #01ac79;
}
.naki_btn_pon{
    background-color: #0282cc;
}
.naki_btn_minkan, .naki_btn_ankan{
    background-color: #730477;
}

.naki_list{
    position: absolute;
    width: 80%;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    background-color: #929292;
    border: 3px solid #505050;
    border-radius: 10px;

    overflow-x: auto;
    overflow-y: hidden;
}
.naki_block{
    flex-shrink: 0;
    padding-left: 25px;
    margin: 0 10px;
}

.reset_btn, .close_btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 120px;
}
.reset_btn{
    background-color: #b1331d;
}
.close_btn{
    background-color: #129400;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.0);
    pointer-events: all;
    z-index: 1;
}

.settings_view{
    position: absolute;
    top: 0;
    left: -500px;
    transition: transform .5s ease;
}
.settings_tab{
    position: relative;
    left: 500px;
    width: 30px;
    height: 100vh;
    background: rgba(221, 221, 221, 0.8);

    border: 1px solid #aaa;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;

    box-shadow:
        4px 0 12px rgba(0, 0, 0, 0.45),
        inset -1px 0 3px rgba(255, 255, 255, 0.3);
    z-index: 3;
    
    transition: transform .5s ease;
}
.settings_tab::after {
    content: "";
    position: absolute;

    width: 6px;
    height: 70px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 3px;

    box-shadow:
        inset 0 1px rgba(255,255,255,.5),
        0 1px 2px rgba(0,0,0,.4);

    background: #f0f0f0;
}
.settings_tab:hover {
    width: 45px;
    transition: width .2s ease;
}
.settings_panel{
    position: fixed;
    width: 500px;
    height: 100vh;
    background: #f0f0f0;
    color: #131313;
    z-index: 3;
    transition: transform .5s ease;
}
.settings_view.open{
    transform: translateX(500px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}